.player {
    height: 70px;
    width: 70%;
    background-color: rgba(62, 62, 62, 0.7);
    backdrop-filter: blur(10px);
    border-radius: 35px;
    border: 1px solid gray;
    display: flex;
}

.audio_player {
    width: 100%;
    margin: auto;
    background-color: transparent;

}

.play_btn {
    width: 10px;
    height: 10px;
    background-color: green;
}