.author_item {
    width: 100%;
    height: 50px;
    display: flex;
    margin: 10px 0;
    cursor: pointer;

    > .img_container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        border-radius: 100%;
        overflow: hidden;

        > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    }

    > .name {
        padding: 5px;
        margin: auto;
        color: white;
        font-size: 18px;
        font-weight: 500;
        margin-left: 15px;
    }
}