.main_button {
    background-color: transparent;
    color: white;
    font-size: 15px;
    text-align: left;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 5px 0;
    display: flex;

    &:hover {
        background-color: rgb(132, 129, 125);
    }
}

.play_btn {
    width: 100%;
    background-color: transparent;
    border: none;
}