@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("/src/assets/bg2.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  font-family: 'Roboto', sans-serif;
}

.container {
  position: relative;
  max-width: 1375px;
  width: 100%;
  flex: 1;
  margin-left: auto;
  margin-right: auto;
}

.small_text {
  font-size: 12px;
  color: gray;
}

h3 {
  color: white;
  font-size: 18px;
  font-weight: 500;
}